<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
        <a href="{{ url_for('index') }}" class="brand-logo"><img src="http://www.radixeng.com.br/images/campaign-slogan-white.png" width="80"></a>
        </div>
    </nav>
    <div class="container-fluid brown lighten-4" id="content">
        {% block content %}
        {% endblock %}
        <br>
    </div>
    <footer class="page-footer grey darken-4">
        {% block footer %}
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Hey</h5>
                <p class="grey-text text-lighten-4">This is a simple project that I did to Desafio Radx</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact me</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/LuizMVB">Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/luizmvb/">Linkedin</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
        </div>
        {% endblock %}
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>